* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b2b2b; 
    font-family: 'Arial', sans-serif; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 1em;
    background-color: #4CAF50; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.header h1 {
    color: white;
    margin-right: 20px; 
}

.header img {
    width: 60px;
    transition: transform 0.3s; 
}

.header img:hover {
    transform: scale(1.1); 
}

.pong-wrapper {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em; 
}

#ping-pong {
    width: 80%;
    max-width: 680px;
    border: 12px solid #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.floating-buttons {
    position: absolute;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex; 
    gap: 10px;
}

.floating-buttons button {
    letter-spacing: 2px; 
    text-transform: uppercase; 
    border: none; 
    color: white; 
    background-color: #007BFF; 
    padding: 15px 20px; 
    font-size: 1em; 
    font-weight: bold; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
}

.floating-buttons button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

@media screen and (max-width: 480px) {
    .header img {
        width: 40px; 
    }

    .floating-buttons button {
        letter-spacing: 1px; 
        padding: 8px 10px; 
        font-size: 0.9em; 
    }
}



